[flake8]
ignore =
    D100
    D104
    T498
    T499
exclude =
    .venv
extended_default_ignore = []
max-line-length = 120
strictness = full
per-file-ignores =
    tests/*.py:
        S101
        DAR101